include ./mixins/allmixin

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Plan-Trip
        link(rel="stylesheet" href="./src/style.css")
    body 
        .tour__list 
            +tourItem("https://images.pexels.com/photos/14255782/pexels-photo-14255782.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "From $40", "Thailands Ayutthaya Temples Cruise from Bangkok",4.8 , 12, 10 )
            +tourItem("https://images.pexels.com/photos/11879709/pexels-photo-11879709.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1","From $70", "FLoating Markets Day Trip from Bangkok",4.0, 20 , 12)
            +tourItem("https://images.pexels.com/photos/10049618/pexels-photo-10049618.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "From $50", "Bangkok Dinner Cruise on the Chao Phraya River", 4.5, 15, 17)

        .container 
            .popular__list 
                +popularItem()
                +popularItem()
                +popularItem()
                +popularItem()
