include ./mixins/allmixin

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home Page
        link(rel="stylesheet" href="./src/style.css")
    body 
        .container 
            include ./views/layout/header
            include ./views/home/top-tuor
            include ./views/home/popular
            include ./views/home/gem
            include ./views/home/diamond
            include ./views/home/grid
            include ./views/layout/footer


