@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  background-color: #f5f5f5;
  padding: 24px;
}

:root {
  --primary-color: #3b71fe;
  --secondary-color: #043a4c;
  --text-color: #353945;
  --fzdefault: 14px;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.tour-heading {
  color: var(--text-color);
  margin-bottom: 34px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
}

.btn-travel {
  width: 200px;
  height: 56px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  display: inline-block;
  padding: 10px 40px;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 94, 247) 17.8%, rgb(2, 245, 255) 100.2%);
  color: white;
  border-radius: 30px;
}

.header {
  background-color: #fff;
  padding: 16px 0;
  margin-bottom: 70px;
  box-shadow: 0px 6px 30px rgba(15, 15, 15, 0.06);
}
.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}
.header-item {
  padding: 14px 22px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  border-radius: 10px;
  background-color: #f4f5f9;
  color: #777e90;
  cursor: pointer;
  transition: all linear 0.5s;
  text-decoration: none;
  display: inline-block;
}
.header-item:hover:not(:nth-child(2)) {
  background-color: #225df3;
  color: white;
}
.header-item:nth-child(2) {
  color: white;
  background-color: #225df3;
}

/* tour-list */
.tour-list {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}

.tour-item {
  flex: 1;
  background-color: white;
  border-radius: 14px;
  display: flex;
  align-items: stretch;
  justify-content: start;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tour-top {
  position: relative;
}

.tour-top .tour-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.tour-price span {
  display: inline-block;
  position: absolute;
  top: 20px;
  font-size: 12px;
  line-height: 1.5;
  left: 30px;
  padding: 6px 16px;
  background-color: #353945;
  border-radius: 5px;
  color: #fcfcfd;
}

.tour-content {
  flex: 1;
  padding: 20px 20px 14px;
  display: flex;
  align-items: stretch;
  justify-content: start;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tour-title {
  font-size: 18px;
  line-height: 1.5;
  color: #23262f;
  margin-bottom: 10px;
}

.tour-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: auto;
}

.tour-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour-star {
  margin-right: 8px;
}

.tour-count {
  display: inline-block;
}

.tour-link,
.tour-count,
.tour-duration {
  font-size: 14px;
}

.tour-duration {
  color: #043a4c;
}

.tour-link {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  padding: 9px 17px;
  background-color: #3b71fe;
  border-radius: 8px;
  color: #f4f5f6;
}

/* popular-item */
.popular-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;
}
.popular-list .popular-item {
  border-radius: 14px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.06);
  border-radius: 14px;
}
.popular-list .popular-label {
  font-size: 12px;
  line-height: 15px;
  color: #f4f5f6;
  position: absolute;
  padding: 5px 18px;
  background-color: var(--primary-color);
  border-radius: 30px;
  bottom: 0;
  right: 20px;
  transform: translate(0, 50%);
}
.popular-list .popular-image {
  height: 185px;
  position: relative;
}
.popular-list .popular-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.popular-list .popular-content {
  padding: 14px 20px;
}
.popular-list .popular-time {
  display: inline-block;
  color: var(--text-color);
  font-size: 12px;
  margin-bottom: 8px;
}
.popular-list .popular-title {
  color: var(--text-color);
  margin-bottom: 9px;
}
.popular-list .popular-review {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  gap: 8px;
}

/* diaomond */
.section-diamond .tour-heading {
  text-align: center;
}

.diamond-list {
  max-width: 998px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 250px);
  gap: 30px;
}

.diamond-item {
  padding: 12px;
  background: #ffffff;
  box-shadow: 0px 30px 110px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  position: relative;
}

.diamond-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: inherit;
}

.diamond-list .img-diamond {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.diamond-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(8.83deg, rgba(0, 0, 0, 0.56) 22.88%, rgba(0, 0, 0, 0) 58.17%);
  border-radius: inherit;
}

.diamond-desc {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.diamond-time {
  color: #e6e8ec;
  font-size: 14px;
}

.diamond-title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 24px;
  color: white;
}

.diamond-btn {
  margin: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* gemlist */
.gem-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px) 150px;
  gap: 15px;
  grid-template-areas: "h1 h1 h2" "h1 h1 h3" "h4 h5 h5";
}

.img-gem {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.gem-item:nth-child(1) {
  grid-area: h1;
}

.gem-item:nth-child(2) {
  grid-area: h2;
}

.gem-item:nth-child(3) {
  grid-area: h3;
}

.gem-item:nth-child(4) {
  grid-area: h4;
}

.gem-item:nth-child(5) {
  grid-area: h5;
}

@media screen and (min-width: 768px) {
  .footer-columns:first-child {
    max-width: 270px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .tour-item {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 767.98px) {
  .tour-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 320px;
    overflow-x: auto;
    padding-bottom: 30px;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
  }
  .tour-item {
    scroll-snap-align: center;
  }
}
@media screen and (max-width: 767.98px) {
  .gem-list {
    grid-template-rows: repeat(2, 150px) 100px;
    grid-template-areas: "h4 h4 h2" "h4 h4 h5" "h1 h3 h3";
  }
  .popular-item {
    width: 100%;
  }
  .tour-heading {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .diamond-list {
    grid-template-columns: 1fr;
    gap: 16px;
    grid-template-rows: auto;
    grid-auto-flow: row;
  }
  .diamond-wrapper {
    height: 133px;
  }
  .diamond-item {
    padding: 7px;
  }
  .diamond-title {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  .diamond-item {
    font-size: 10px;
  }
  .diamond-btn {
    margin: 30px 0;
  }
  .btn-travel {
    width: 120px;
    height: 32px;
    padding: 4px 19px;
    font-size: 16px;
    border-radius: 20px;
  }
  .footer {
    padding: 30px 0;
  }
  .footer-bottom,
  .footer-top {
    flex-direction: column;
  }
  .footer-bottom {
    gap: 20px;
  }
}
.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
}
.grid-item {
  aspect-ratio: 1/1;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.icon {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  background-color: #958afb;
  position: relative;
}
.icon::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  background-color: #07604a;
  top: 0;
  right: 0;
}

p.desc {
  margin-top: 30px;
  column-count: 3;
  column-gap: 50px;
  column-rule: 2px #958afb solid;
}

.box {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  background-color: #f62682;
  box-shadow: 2px 2px 5px 10px #ccc;
}

p.text {
  margin-top: 20px;
  text-indent: 10px;
}

p.overflow {
  width: 200px;
  height: 200px;
  background-color: #f62682;
  color: #fff;
  overflow: auto;
}

.image-wraper {
  margin-top: 20px;
  width: 300px;
}
.image-wraper .ratio {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.image-item {
  margin-top: 20px;
  width: clamp(300px, 50%, 600px);
}

.item-clamp {
  font-size: clamp(1.563rem, 2vw + 1rem, 2.5rem);
}

.card-wrapper {
  container-type: inline-size;
  container-name: card;
  display: flex;
}

.card {
  width: 400px;
  padding: 14px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
}
.card .container-query {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@container card (max-width : 600px) {
  flex-direction: column;
  .card {
    background-color: #ff6651;
  }
}
.flex-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.flex-item {
  flex: 1;
}

.flex-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-footer {
  padding: 70px 0;
}

.footer-top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 70px;
  border-bottom: 1px solid #ccc;
}

.footer-header {
  font-size: 24px;
  line-height: 1.6;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.footer-columns .footer-logo {
  margin-bottom: 40px;
}

.footer-logo a {
  display: inline-block;
}

.footer-subscribe {
  display: flex;
  align-items: center;
  position: relative;
}

.subscribe-input {
  padding: 13px 26px;
  border: 2px solid #e6e8ec;
  border-radius: 24px;
  font-size: 16px;
  color: var(--secondary-color);
  background-color: transparent;
  outline: none;
  flex: 1;
  line-height: 1.5;
}

.subscribe-input::placeholder {
  color: #b1b5c3;
  line-height: 1.5;
  font-size: 16px;
}

.subscribe-btn {
  cursor: pointer;
  position: absolute;
  border: none;
  border-radius: 50%;
  right: 8px;
  flex-shrink: 0;
}

.footer-columns .footer-desc {
  margin: 0 0 30px;
  font-size: 16px;
  line-height: 1.5;
  color: #353945;
}

.footer-list {
  list-style: none;
}

.footer-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.footer-link {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: none;
  color: #777e90;
}

.footer-bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom .footer-copyright {
  font-size: var(--fzdefault);
  line-height: 20px;
  color: #b1b5c3;
}

.footer-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.section-gem,
.section-popular,
.section-tour {
  margin-bottom: 70px;
}

/*# sourceMappingURL=style.css.map */
