/* tour-list */
.tour-list {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.tour-item {
  width: calc(33.33% - 20px);
  background-color: white;
  border-radius: 14px;
}
.tour-top {
  position: relative;
}
.tour-top .tour-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.tour-price span {
  display: inline-block;
  position: absolute;
  top: 20px;
  font-size: 12px;
  line-height: 1.5;
  left: 30px;
  padding: 6px 16px;
  background-color: #353945;
  border-radius: 5px;
  color: #fcfcfd;
}
.tour-content {
  padding: 20px 20px 14px;
}
.tour-title {
  font-size: 18px;
  line-height: 1.5;
  color: #23262f;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.tour-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.tour-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tour-star {
  margin-right: 8px;
}
.tour-count {
  display: inline-block;
}
.tour-link,
.tour-count,
.tour-duration {
  font-size: 14px;
}
.tour-duration {
  color: #043a4c;
}
.tour-link {
  display: inline-block;
  text-decoration: none;
  padding: 9px 17px;
  background-color: #3b71fe;
  border-radius: 8px;
  color: #f4f5f6;
}
