section.grid 
    .grid-layout 
        each val in [1,2,3,4,5,6,7]
            .grid-item=val
    h1.title This is a title
    p.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, aliquam asperiores pariatur modi expedita, quos sequi cum iure nulla accusantium voluptatum dolor, tenetur laboriosam? Necessitatibus neque doloremque odio mollitia ratione quae velit, inventore quod enim doloribus facilis reprehenderit deserunt earum, dolores explicabo atque, molestias ut asperiores porro. Reprehenderit veniam ab rem exercitationem. Dolores porro est dolore assumenda unde? Cupiditate saepe neque tempora in consectetur provident porro, voluptates quam, perspiciatis hic nisi quidem a impedit. Nesciunt, dolores. Porro dicta asperiores magnam. Voluptatem vero ex praesentium tempora, dolores cumque eligendi dolor error fugit quod aut tenetur quibusdam qui quis reiciendis voluptate aliquid?
    .box 
    p.text Thuy Nguyen
    p.overflow Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque quisquam ipsam ullam dolor dicta. Atque nulla quod in fuga beatae aut earum doloremque nam tenetur libero similique voluptatibus maiores porro, quas error? Doloremque in mollitia adipisci quibusdam culpa provident obcaecati temporibus distinctio! Veniam tempore voluptatem fugit nam quis voluptates cupiditate perspiciatis quam est molestias enim facere in, pariatur accusantium ipsa odio. Nisi repellat eveniet obcaecati, ullam fugiat asperiores sed commodi quibusdam, debitis vel totam molestiae aperiam aliquid deserunt tenetur iste! Fugit distinctio explicabo nisi facere placeat, ducimus minima modi magni quasi sed porro quam deserunt, in, sit quis necessitatibus odio.
    .image-wraper 
        img(src="https://images.unsplash.com/photo-1500828131278-8de6878641b8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80", alt="").ratio

    .image-item 
        img(src="https://images.pexels.com/photos/1266810/pexels-photo-1266810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", alt="")
    .item-clamp This is Thuy Nguyen 
    .card-wrapper
        .card 
            img(src="./src/img/chua.jpg", alt="").container-query
        p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis sed non culpa mollitia error fuga porro, ducimus laboriosam veniam dolore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium laborum nostrum placeat architecto ut! Dolores earum cum maiores eligendi atque.