section.section-tour 
    h2.tour-heading Top Bang Kok Tours
    .tour-list 
        +tourItem("https://images.pexels.com/photos/13010254/pexels-photo-13010254.jpeg?auto=compress&cs=tinysrgb&w=600","Thailands Ayutthaya Temples Cruise from Bangkok", "10 Hours", 55)
        +tourItem("https://images.pexels.com/photos/6774284/pexels-photo-6774284.jpeg?auto=compress&cs=tinysrgb&w=600","FLoating Markets Day Trip from Bangkok", "8 Hours", 85)
        +tourItem("https://images.pexels.com/photos/4202918/pexels-photo-4202918.jpeg?auto=compress&cs=tinysrgb&w=600", "Bangkok Dinner Cruise on the Chao Phraya River Bangkok Dinner Cruise on the Chao Phraya River", "12 Hours", 60)