$fzdefault: 14px;
$primaryColor: #225df3;
:root {
  --primary-color: #3b71fe;
  --secondary-color: #043a4c;
  --text-color: #353945;
  --fzdefault: 14px;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.tour-heading {
  color: var(--text-color);
  margin-bottom: 34px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
}
