@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
:root {
  --primary-color: #3b71fe;
  --secondary-color: #043a4c;
  --text-color: #353945;
  --fzdefault: 14px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: #f5f5f5;
  padding: 24px;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.section-gem,
.section-popular,
.section-tour {
  margin-bottom: 70px;
}
.tour-heading {
  color: var(--text-color);
  margin-bottom: 34px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
}
/* tour-list */
.tour-list {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.tour-item {
  width: calc(33.33% - 20px);
  background-color: white;
  border-radius: 14px;
}
.tour-top {
  position: relative;
}
.tour-top .tour-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.tour-price span {
  display: inline-block;
  position: absolute;
  top: 20px;
  font-size: 12px;
  line-height: 1.5;
  left: 30px;
  padding: 6px 16px;
  background-color: #353945;
  border-radius: 5px;
  color: #fcfcfd;
}
.tour-content {
  padding: 20px 20px 14px;
}
.tour-title {
  font-size: 18px;
  line-height: 1.5;
  color: #23262f;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.tour-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.tour-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tour-star {
  margin-right: 8px;
}
.tour-count {
  display: inline-block;
}
.tour-link,
.tour-count,
.tour-duration {
  font-size: 14px;
}
.tour-duration {
  color: #043a4c;
}
.tour-link {
  display: inline-block;
  text-decoration: none;
  padding: 9px 17px;
  background-color: #3b71fe;
  border-radius: 8px;
  color: #f4f5f6;
}

/* popular-item */
.popular-list {
  display: grid;
  --columns: 4;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 30px;
}
.popular-item {
  border-radius: 14px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.06);
  border-radius: 14px;
}
.popular-label {
  font-size: 12px;
  line-height: 15px;
  color: #f4f5f6;
  position: absolute;
  padding: 5px 18px;
  background-color: var(--primary-color);
  border-radius: 30px;
  bottom: 0;
  right: 20px;
  transform: translate(0, 50%);
}
.popular-image {
  height: 185px;
  position: relative;
}
.popular-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.popular-content {
  padding: 14px 20px;
}
.popular-time {
  display: inline-block;
  color: var(--text-color);
  font-size: 12px;
  margin-bottom: 8px;
}
.popular-title {
  color: var(--text-color);
  margin-bottom: 9px;
}
.popular-review {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  gap: 8px;
}

/* gemlist */
.gem-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px) 150px;
  gap: 15px;
}
.img-gem {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.gem-item:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}
.gem-item:nth-child(3) {
  grid-column: 1/2;
}
.gem-item:last-child {
  grid-row: -1/-3;
}
/* diaomond */
.section-diamond {
  padding: 65px 0;
}
.section-diamond .tour-heading {
  text-align: center;
}
.diamond-list {
  max-width: 998px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 250px);
  gap: 30px;
}
.diamond-item {
  padding: 12px;
  background: #ffffff;
  box-shadow: 0px 30px 110px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  position: relative;
}
.diamond-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: inherit;
}
.diamond-list .img-diamond {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.diamond-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    8.83deg,
    rgba(0, 0, 0, 0.56) 22.88%,
    rgba(0, 0, 0, 0) 58.17%
  );
  border-radius: inherit;
}
.diamond-desc {
  position: absolute;
  bottom: 20px;
  left: 30px;
}
.diamond-time {
  color: #e6e8ec;
  font-size: 14px;
}
.diamond-title {
  font-weight: 600;
  margin: 10px 0;
  font-size: 24px;
  color: white;
}
.diamond-btn {
  margin: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-travel {
  width: 200px;
  height: 56px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  display: inline-block;
  padding: 10px 40px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 30px;
}

.section-footer {
  padding: 70px 0;
}

.footer-top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.footer-header {
  font-size: 24px;
  line-height: 1.6;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.footer-columns:first-child {
  max-width: 270px;
}
.footer-columns .footer-logo {
  margin-bottom: 40px;
}
.footer-logo a {
  display: inline-block;
}

.footer-columns .footer-desc {
  margin: 0 0 30px;
  font-size: 16px;
  line-height: 1.5;
  color: #353945;
}
.footer-list {
  list-style: none;
}

.footer-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
.footer-link {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: none;
  color: #777e90;
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .tour-item {
    width: calc(50% - 20px);
  }
  .popular-list {
    --columns: 2;
  }
}

@media screen and (max-width: 767.98px) {
  .popular-item {
    width: 100%;
  }
  .tour-item {
    width: 100%;
  }
  .tour-heading {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .popular-list {
    --columns: 1;
  }
}
